
{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h3>Change Username</h3>
  <p>Use the form below to change your username.</p>
    <div class="col-lg-4">
    <form action="{{ url_for('user.change_username') }}" method="POST">
    <div class="form-group">
        {{resetform.username.label}}
        {{resetform.username(placeholder="", class_="form-control")}}
    </div>
    <div class="form-group">
        {{resetform.username2.label}}
        {{resetform.username2(placeholder="", class_="form-control")}}
    </div>
    <br>
    <br>
    {{ resetform.csrf_token }}
    <input class="btn btn-default btn-submit" type="submit" value="Change my username" />
</form>
    </div>
</div>
{% endblock %}
