
{% extends "layout.html" %}

{% block page_title %}New Blog{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>New Blog Post</h1>
    </div>
    <div class="row">
        <form action="" method="POST" id="new_post_form">
            <div class="row">
                <label for="title">Post Title</label><br>
                <input id="title" name="title" type="text" placeholder="Title?" />
            </div>
            <hr>
            <div class="row">
                <label for="slug">Slug</label>
                <textarea id="slug" name="slug" data-provide="markdown" rows="3"></textarea>
            </div>
            <hr>
            <div class="row">
                <label for="content">Body</label>
                <textarea id="content" name="content" data-provide="markdown" rows="10"></textarea>
            </div>
            <hr/>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='libs/to-markdown/to-markdown.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/to-markdown/markdown.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-markdown.js')}}"></script>
{% endblock %}
