
{% extends "layout.html" %}

{% block page_title %}Blog{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">
                    Blog
                </h1>
                {% for post in posts %}
                    <h2>
                        <a href="{{ url_for('blog.blog_detail', pk=post.id) }}">{{ post.title }}</a>
                    </h2>
                    <p class="lead">
                        by <a href="#">{{ post.author }}</a>
                    </p>
                    <p>Posted: {{ post.date }}</p>
                    <hr>
                    <p>{{ post.slug }}</p>
                    <a class="btn btn-primary" href="{{ url_for('blog.blog_detail', pk=post.id) }}">Read More</a>
                    <hr>
                {% endfor %}
                <ul class="pager">
                    <li class="previous">
                        <a href="{{ url_for('blog.blog_page', page=prev_page) }}">&larr; Older</a>
                    </li>
                    {% if not current %}
                        <li class="next">
                            <a href="{{ url_for('blog.blog_page', page=next_page) }}">Newer &rarr;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-4">
                <br><br>

                <div class="well">
                    <h4>About</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci
                        accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
                <div class="well">
                    <h4>Top Tags</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Tag 1</a>
                                </li>
                                <li><a href="#">Tag 2</a>
                                </li>
                                <li><a href="#">Tag 3</a>
                                </li>
                                <li><a href="#">Tag 4</a>
                                </li>
                                <li><a href="#">Tag 5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
